SACC/SACC.Test/Connected Services/ServiceReference1/Vigencia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Vigencia" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12419/Vigencia.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12419/Vigencia.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12419/Vigencia.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wsSACC" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVigencia_AltaAsociado_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaAsociado" />
  </wsdl:message>
  <wsdl:message name="IVigencia_AltaAsociado_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaAsociadoResponse" />
  </wsdl:message>
  <wsdl:message name="IVigencia_CambioAsociado_InputMessage">
    <wsdl:part name="parameters" element="tns:CambioAsociado" />
  </wsdl:message>
  <wsdl:message name="IVigencia_CambioAsociado_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambioAsociadoResponse" />
  </wsdl:message>
  <wsdl:message name="IVigencia_BajaAsociado_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaAsociado" />
  </wsdl:message>
  <wsdl:message name="IVigencia_BajaAsociado_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaAsociadoResponse" />
  </wsdl:message>
  <wsdl:message name="IVigencia_ReactivaAsociado_InputMessage">
    <wsdl:part name="parameters" element="tns:ReactivaAsociado" />
  </wsdl:message>
  <wsdl:message name="IVigencia_ReactivaAsociado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReactivaAsociadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IVigencia">
    <wsdl:operation name="AltaAsociado">
      <wsdl:input wsaw:Action="http://tempuri.org/IVigencia/AltaAsociado" message="tns:IVigencia_AltaAsociado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVigencia/AltaAsociadoResponse" message="tns:IVigencia_AltaAsociado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambioAsociado">
      <wsdl:input wsaw:Action="http://tempuri.org/IVigencia/CambioAsociado" message="tns:IVigencia_CambioAsociado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVigencia/CambioAsociadoResponse" message="tns:IVigencia_CambioAsociado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajaAsociado">
      <wsdl:input wsaw:Action="http://tempuri.org/IVigencia/BajaAsociado" message="tns:IVigencia_BajaAsociado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVigencia/BajaAsociadoResponse" message="tns:IVigencia_BajaAsociado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReactivaAsociado">
      <wsdl:input wsaw:Action="http://tempuri.org/IVigencia/ReactivaAsociado" message="tns:IVigencia_ReactivaAsociado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVigencia/ReactivaAsociadoResponse" message="tns:IVigencia_ReactivaAsociado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVigencia" type="tns:IVigencia">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaAsociado">
      <soap:operation soapAction="http://tempuri.org/IVigencia/AltaAsociado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambioAsociado">
      <soap:operation soapAction="http://tempuri.org/IVigencia/CambioAsociado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaAsociado">
      <soap:operation soapAction="http://tempuri.org/IVigencia/BajaAsociado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReactivaAsociado">
      <soap:operation soapAction="http://tempuri.org/IVigencia/ReactivaAsociado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Vigencia">
    <wsdl:port name="BasicHttpBinding_IVigencia" binding="tns:BasicHttpBinding_IVigencia">
      <soap:address location="http://localhost:12419/Vigencia.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>